.path-0 {
    animation: pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
    0% {
        d: path("M 0,500 L 0,0 C 91.23589743589744,89.24102564102564 182.47179487179488,178.4820512820513 265,198 C 347.5282051282051,217.5179487179487 421.348717948718,167.3128205128205 485,167 C 548.651282051282,166.6871794871795 602.1333333333332,216.26666666666662 690,227 C 777.8666666666668,237.73333333333338 900.1179487179488,209.62051282051286 993,204 C 1085.8820512820512,198.37948717948714 1149.394871794872,215.25128205128203 1219,185 C 1288.605128205128,154.74871794871797 1364.302564102564,77.37435897435898 1440,0 L 1440,500 L 0,500 Z");
    }

    25% {
        d: path("M 0,500 L 0,0 C 99.88461538461539,76.08205128205127 199.76923076923077,152.16410256410254 284,176 C 368.2307692307692,199.83589743589746 436.80769230769226,171.42564102564106 513,186 C 589.1923076923077,200.57435897435894 673,258.13333333333327 745,272 C 817,285.86666666666673 877.1923076923076,256.04102564102567 955,258 C 1032.8076923076924,259.95897435897433 1128.2307692307693,293.7025641025641 1212,256 C 1295.7692307692307,218.29743589743592 1367.8846153846152,109.14871794871796 1440,0 L 1440,500 L 0,500 Z");
    }

    50% {
        d: path("M 0,500 L 0,0 C 98.48461538461538,89.37179487179488 196.96923076923076,178.74358974358975 282,198 C 367.03076923076924,217.25641025641025 438.60769230769233,166.3974358974359 499,149 C 559.3923076923077,131.6025641025641 608.6,147.66666666666666 678,158 C 747.4,168.33333333333334 836.9923076923076,172.93589743589743 921,183 C 1005.0076923076924,193.06410256410257 1083.4307692307693,208.5897435897436 1169,179 C 1254.5692307692307,149.4102564102564 1347.2846153846153,74.7051282051282 1440,0 L 1440,500 L 0,500 Z");
    }

    75% {
        d: path("M 0,500 L 0,0 C 83.78974358974361,23.707692307692312 167.57948717948722,47.415384615384625 253,97 C 338.4205128205128,146.58461538461538 425.4717948717948,222.04615384615386 494,257 C 562.5282051282052,291.95384615384614 612.5333333333333,286.4 694,258 C 775.4666666666667,229.6 888.394871794872,178.35384615384615 974,171 C 1059.605128205128,163.64615384615385 1117.8871794871795,200.18461538461537 1191,179 C 1264.1128205128205,157.81538461538463 1352.0564102564103,78.90769230769232 1440,0 L 1440,500 L 0,500 Z");
    }

    100% {
        d: path("M 0,500 L 0,0 C 91.23589743589744,89.24102564102564 182.47179487179488,178.4820512820513 265,198 C 347.5282051282051,217.5179487179487 421.348717948718,167.3128205128205 485,167 C 548.651282051282,166.6871794871795 602.1333333333332,216.26666666666662 690,227 C 777.8666666666668,237.73333333333338 900.1179487179488,209.62051282051286 993,204 C 1085.8820512820512,198.37948717948714 1149.394871794872,215.25128205128203 1219,185 C 1288.605128205128,154.74871794871797 1364.302564102564,77.37435897435898 1440,0 L 1440,500 L 0,500 Z");
    }
}